{% extends 'base.html' %}

{% block css %}
<style>
    
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-10 mx-auto">
                <div class="row align-items-md-stretch">
                    <div class="col-md-4">
                        <div
                            class="h-100 p-5 text-white bg-danger border rounded-3">
                            <h2>Univariate Analysis</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                                mix and match with additional component themes and more.</p>
                            <a href="/analysis/univariate" class="btn btn-light" type="button">View Analysis</a>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div
                            class="h-100 p-5 text-white bg-danger border rounded-3">
                            <h2>Biivariate Analysis</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                                mix and match with additional component themes and more.</p>
                            <a href="/analysis/bivariate" class="btn btn-light" type="button">View Analysis</a>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div
                            class="h-100 p-5 text-white bg-danger border rounded-3">
                            <h2>Sentiment Analysis</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                                mix and match with additional component themes and more.</p>
                            <a href="/analysis/sentiment" class="btn btn-light" type="button">View Analysis</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    
</script>
{% endblock %}

